*{
	margin: 0;
	font-family: sans-serif ;
	padding: 0;
}
.menuLateral{
	background-color: black ;
	width: 250px;
	height: 100%;
	position: fixed;
}
.menuLateral .titulo {
	color: white;
	text-align: center;
	font-weight: bold;
	line-height: 45px;
	font-size: 24px;
	border-bottom: 2px solid red;
}
.menuLateral ul{
	list-style: none;
}
.menuLateral ul li{
	line-height: 40px;
	border-bottom: 1px solid white;
}
.menuLateral ul li a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding-left: 30px;
	font-weight: bold;
	display: block;

}
.menuLateral ul li a:hover{
	background-color: #370707;
	transition: 0.5s ;
}
.menuLateral ul ul li a{
	font-size: 16px;
	font-weight: 300;
	padding-left: 60px;
	background-color: #131313;
	left: -250px;
}
.menuLateral ul ul{
	display: none;
}

.menuLateral ul .itensNordeste.mostra{
	display: block;
}
.menuLateral ul .itensSordeste.mostra{
	display: block;
}

.btnAbre{
	position: absolute;
	top: 10px;
	left: 29px;
	background-color: white;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.btnAbre span{
	font-size: 35px;
}