{% extends 'layout.html' %}

{% block conteudo %}

     <div class="col-8 m-auto pt-2 pb-2 text-left">
        <h1>Renew: {{ book_instance.book.title }}</h1>
        <p>Borrower: {{ book_instance.borrower }}</p>
        <p{% if book_instance.is_overdue %} class="text-danger"{% endif %}>Due date: {{ book_instance.due_back }}</p>

    </div>
    
    <div class ="table-responsive col-8 m-auto pt-2 pb-2 text-left" style="overflow-x:auto;">
     
          <form action="" method="post">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
          </form>



    </div>

{% endblock %}

{% block rodape %}

 

{% endblock %}    